[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyAutoGUI = "*"
opencv-python = "*"
pillow = "*"

[dev-packages]
pylint = "*"
rope = "*"
pytest = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
